/* Header////////////////////////////////// */
body{
  background-color:black;
  display:flex;
  margin: 0 auto;
}

/*h2,h3, h4 {
  color: seashell;
  opacity: 0.9;
}*/

.headerContainer {
  display:flex;
  background-color: black;
  height:69px;
  width:1020px;
  border-bottom: 1px solid seashell;
  position:fixed;
  /*flex-direction:row;
  justify-content:flex-end;
  align-content: center;*/
}

.logo{
  padding-left:10px;
}

ul.nav {
  background-color:red;
  width:960px;
  display:inline-flex;
  justify-content:flex-end;
  flex-direction:row;
}

li {
  border: 1px solid black;
  padding: 10px 5px;
  width:auto;
  display:inline-flex;
  justify-content:flex-end;
  text-decoration:underline;
  font-family:Helvetica;
  font-size:22px;
  color:seashell;
  opacity:0.9;
}

/* Our Mission////////////////////////////////// */
.missionContainer{
  background-color:black;
  margin: 0 auto;
}




/* Tea of the Month////////////////////////////////// */

/* Location////////////////////////////////// */

/* Contact////////////////////////////////// */

/* Footer////////////////////////////////// */
